
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: alias;
}
.message{
text-align: center;
color:white;

font-size:27px;
}
body{
    background-image: url(neonbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height:100vh;
    
}
.wrapper{
    line-height:60px;
}
    .numbox{
    height:33px;
    width: 60px;
    border-radius:15px;
} 
.button{
    display: flex;
    justify-content: space-around;

}
.submit{
background-color: black;
color: white;
padding:5px;
border:1px solid black;
border-radius: 5px;
margin-right:1rem;
}
.replay{
    background-color: black;
    color: white;
    padding:5px;
    border:1px solid black;
    border-radius: 5px;

}
.result{
    color:white;
    font-size: 20px;
    text-shadow: 3px 0px blue, 0px 3px blueviolet, 3px 0px blue, 0px 3px blueviolet;
}
.history{
    color:white;
    text-shadow: 2px 0px blue, 0px 2px blueviolet, 2px 0px blue, 0px 2px blueviolet;
    line-height:30px;
}
.chances{
    color:white;
}
#chancesdisplay{
    color:white;
    text-shadow: 1px 1px 1px violet, 1px 1px 1px pink;
}