*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    /* background-image:url(https://i.pinimg.com/736x/3a/6b/5c/3a6b5cf53aa2f8d5170a953637980624.jpg);
    background-repeat: no-repeat;
    background-size:cover; */
    background-color:black;
}
#wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px; 
    min-height: 100vh;
}
#heading{
    font-size:2.7rem;
    text-align: center;
    color:white;
    text-shadow: 6px 0px blue, 0px 4px blueviolet, 6px 0px blue, 0px 4px blueviolet;
}
#gamepage{
    padding: 9px;
    font-size:20px;
    text-align: center;
    color:white; 
    background-color:transparent;
    border:none; 
    border-radius:35px;

}
/*=============================================================*/
