*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-image:url(https://i.pinimg.com/736x/3a/6b/5c/3a6b5cf53aa2f8d5170a953637980624.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
#wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px; 
}
#heading{
    font-size: 60px;
    text-align: center;
    color:white;
    text-shadow: 6px 0px blue, 0px 6px blueviolet, 6px 0px blue, 0px 6px blueviolet;
}
#gamepage{
    padding: 9px;
    font-size:20px;
    text-align: center;
    color:white; 
    background-color:black;
    border:1px solid black; 
    border-radius:35px;

}
/*=============================================================*/
